
img.artImg {
    top: 50%; left: 0; transform: translate(-0%, -50%); 
    
	width:100%; 
	height:auto; 

	padding: 5px;

    }

p.stamp-text {
	  background-color: #fff;
	  padding: 7px;
	  opacity: 0.95;
	  font-size: 90%;
}