html, body {
  margin: 0;
  padding: 0;
  background: #e2e2e2;
  /* overflow: hidden; */
}

/* src https://stackoverflow.com/questions/16805684/javascript-disable-text-select */
.non_select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


p, h1, h2, h3, h4, h5, h6, body {
  font-family: 'Oxygen', sans-serif;
  color: rgb(46, 46, 46);
}

/* //////////// - interface - ////////////// */

/* --- divs left / right --- */
#homeURL{
  font-size: 95%;
  position: fixed;
  top: 20px; left: 20px;
  margin: 0;
  z-index: 100;
  background-color: rgb(226, 226, 226);
}

span.selectURL {
  /* background-color: #4d4d4d;
  color: rgb(226, 226, 226); */
  text-decoration-line: underline;
  text-decoration-color: blue;
  text-decoration-style: solid;
}

span.unselectURL:hover {
  cursor: pointer;
  text-decoration: underline overline;
}


span.textLink {
  color: rgb(19, 19, 187);
  cursor: pointer;
}



/* //////////////// below css for archive page only /////////////// */


#homeURL a {
  color: rgb(46, 46, 46);
  text-decoration-line: none;
}


.archive_right_container_div {
  margin: 90px 20px 0px 0px;  
  right: 0px;
  top: 0px;
  width: 227px;
  /* height: 100%; */
  padding: 10px;
  display: inline-block;
  position: absolute;
}


.hashtags {
  font-size: 75%;
  float: right;
}


/* //////////////////// thumbs //////////////////// */

* {
  box-sizing: border-box;
}


.thumb_container {
  /* display: -ms-flexbox;  */
  /* IE10 */
  /* display: flex; */
  /* -ms-flex-wrap: wrap;  */
  /* above IE10 */
  /* flex-wrap: wrap; */
  padding: 0 0px;
  margin: 100px 14%;

  /* max-width: 100%; */

}

.row {
  /* -ms-flex: auto;  */
  /* above IE10 */
  /* flex: auto; */
  /* max-width: auto; */
  padding: 0 0px;

  display: flex;

  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  /* align-items: baseline; */
}

/* .row::after {
  content: "";
  flex: auto;

} */


/* below stack example http://jsfiddle.net/6Mt3Q/ 
https://stackoverflow.com/questions/21086385/how-to-make-in-css-an-overlay-over-an-image */

/* a css cropping https://jonathannicol.com/blog/2014/06/16/centre-crop-thumbnails-with-css/ */
.image_container {
  /* position: relative;
  width: 31.5%;
  height: auto; */
  margin: 0px;

  position: relative;
  width: 280px;
  height: 280px;
  overflow: hidden;
}

.image_container img {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    height: auto;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
}

/* apply the class if the image is landscape */
.image_container img.portrait {
    width: auto;
    height: 100%;
  }

.image_container .after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* display: none; */
  color: rgb(63, 63, 63);
  text-align: center;
  background: rgba(226, 226, 226, 1);
  opacity: 1;
  transition: .2s ease-out;
  /* border: 1px solid #5a5a5a7a; */
  border: 1px solid #aaaaaab0;
  cursor:pointer;
}

.image_container:hover .after {
  background: rgba(226, 226, 226, 0);
  /* opacity: 0; */
}

.image_container .after p {
  position:absolute; 
  width:100%;     
  top: 50%;  left: 0%;
  -webkit-transform: translate(-0%, -50%);
  -ms-transform: translate(-0%, -50%);
  transform: translate(-0%, -50%);
  /* font-family: 'Play', sans-serif; */
  font-size: 100%;
  padding:10px; 
  color:#111;
  text-align: center;
  cursor:pointer;
}

/* Responsive layout - makes a two row-layout instead of four columns */
@media screen and (max-width: 1024px) {
  /* .row {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  } */
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  /* .row {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  } */
  /* .image_container {
    width: 99%;
    height: auto;
  } */

  /* .image_container img {
    left: 0%;
    top: 0%;
    -webkit-transform: translate(-0%,-0%);
        -ms-transform: translate(-0%,-0%);
            transform: translate(-0%,-0%);
    } */

    .thumb_container {
        margin: 80px 50px;

        }

    .image_container {
        width: 180px;
        height: 180px;
        }
}


/* /////////iframe////////// */

#close_button {
  right: 0px;
	top: 0px;
	position: fixed;
  margin: 20px;
  z-index: 110;
  display: none;
}

#viewer_frame {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 100;
  border-width: 0px;
  display: none;
}



/* /////////ver 0.75////// */

/* marquees */

.scrolling_text {
 position: absolute;
 top: 50%; left: 50%;
 -webkit-transform: translate(-50%, -50%);
 -ms-transform: translate(-50%, -50%);
 transform: translate(-50%, -50%);
 text-align: center;
}
