html, body {
  margin: 0;
  padding: 0;
  /* background: rgb(210, 210, 210); */
  /* updated 8 jul shinji */
  background: #e2e2e2;
  /* color:#CCCCCC;  */
/* v0.6 omitted the comentouts */
}

/* below: disable the text selection - shinji 7july */
/* src https://stackoverflow.com/questions/16805684/javascript-disable-text-select */
.non_select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* body {
  prevent the over scrolling on mobiles FF 
  https://developer.mozilla.org/en-US/docs/Web/CSS/overscroll-behavior
  overscroll-behavior: contain;
} */


/* added shinji 7 july */
p, h1, h2, h3, h4, h5, h6, body {
  /* font-family: 'Source Code Pro', monospace; */
  font-family: 'Oxygen', sans-serif;
  /* font-weight:700; */


  color: rgb(46, 46, 46);
}

/* v0.6 */
a {
    color: rgb(19, 19, 187);
}

/* //////////// - interface - ////////////// */

/* --- divs left / right --- */
#homeURL{
  font-size: 95%;
  position: fixed;
  top: 20px; left: 20px;
  margin: 0;
  z-index: 100;
  background-color: rgb(226, 226, 226);
}

span.selectURL {
  /* background-color: #4d4d4d;
  color: rgb(226, 226, 226); */
  text-decoration-line: underline;
  text-decoration-color: blue;
  text-decoration-style: solid;
}

span.unselectURL:hover {
  cursor: pointer;
  text-decoration: underline overline;
}

button {
  font-family: 'Oxygen', sans-serif;
  font-weight:700;
  color: rgb(46, 46, 46);
}

#left_container_div__panel {
  margin: 0px 0px 0px 20px;  
  width: 227px;
  height: 100%;
  /* v0.65 */
  position: fixed;
  z-index: 20;
}

/* right div */

/* shinji v0.4 right div disabled */
/* #right_container_div__panel {
  margin: 0px 20px 0px 0px;  
  right: 0px;
  width: 227px;
  height: 100%;
  position: absolute;

} */

/* shinji v0.6 changed */
#messageWin {
  /* v0.6 */
  position: fixed;
    /* right: 20px; */
    right: 3%;
  /* bottom: 20px; */
  margin-bottom: 20px;
  /* top: 20px; */
    width: 180px; 
    /* below changed shinji v0.6  */
    height: auto; 
    max-height: 650px;
    /* height: 560px; */
  padding: 20px;
  /* border: 2px solid rgb(187, 187, 187); */
  border: 2px solid #434343;
  border-radius: 8px;
  /* background-color: white; */
  background-color: rgba(226, 226, 226, 0.8);

  top: 50%;
  /* left: 50%;  */
  transform: translate(3%, -50%);

  /* shinji v0.5 */
  display: none;
  /* shnji v0.6 */
  overflow: hidden;
  z-index: 20;
}

/* added after 4 july shinji */
.message {
  /* font-family: 'PT Sans', sans-serif; */
  font-family: 'Oxygen', sans-serif;
  /* font-family: 'Work Sans', sans-serif; */

  font-size: 120%;
  color: #242b38;
}

/* v0.6 shinji */
.navi_msg, .pop_msg, #div_blob_buttons {
  display: none;
}

/* shinji v0.4 changed  */
#save_button {
  /* border: 2px solid #909090; */
  /* background-color: #0f0ce7; */
  background-color: #cccccc;
  color: #ffffff;
  opacity: 0.0;

  position: fixed;
  bottom: 0px;
  z-index: 2;
  width: 100%;
  margin: 0px;
  margin-left: -20px;
  font-size: 130%;
  /* v0.6 */
  
  line-height: 43px;
  border: 0px solid rgba(144, 144, 144, 0.75);
  border-radius: 0px 0px 6px 6px;
}

span.textLink {
  color: rgb(19, 19, 187);
  cursor: pointer;
}


/* blinking from here: https://stackoverflow.com/revisions/16344389/7 */
/* v0.6 */
.blink_message {
  -webkit-animation-name: blinker;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  
  -moz-animation-name: blinker;
  -moz-animation-duration: 1s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;
  
  animation-name: blinker;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@-moz-keyframes blinker {  
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {  
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@keyframes blinker {  
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

/* blurring */
/* reference  https://www.w3schools.com/howto/howto_css_blurred_background.asp*/
.blur {
  filter: blur(8px);
  -webkit-filter: blur(8px);
}

.nonBlur {
  filter: blur(0px) !important;
  -webkit-filter: blur(0px) !important;
}

/* v0.6 */
#pop_window {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 600px; 
  /* height: 500px; */
  height: auto;

  max-height: 780px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding: 40px;
  font-size: 110%;

  /* border: 1px solid rgb(209, 209, 209); */
  border-radius: 8px;
  overflow: auto;

  background-color: rgba(255, 255, 255, 0.9);
  z-index: 120;
  display: none;
}
/* v0.6 */
#pop_window .text {
  font-family: 'Oxygen', sans-serif;
  font-size: 110%;
  text-align: center;
  color: #242b38;
}
/* v0.6 */
#div_info {
  background-color: rgba(226, 226, 226, 0.6);
  z-index: 110;
  position: fixed;
  width: 100%; height: 100%;
  top: 0px; left: 0px; 
  display: none;
}

/* v0.6 */
/* stamp messages */
#stamp, #stamp2 {
	position: fixed;
  top: 50%; left: 50%; 
  transform: translate(-50%, -50%); 

  text-align: center;
  z-index: 50;

  display: none;
}
/* v0.6 */
p.stamp-text {
    /* background-color: rgba(226, 226, 226, 0.1); */
    background-color: #0f0ce7;
    border: 1px solid rgba(59, 59, 59, 0.884);
    color: #e4e4e4;
	  padding: 2px 4px;
	  font-size: 100%;
}

/* div for the painting panel */
.div_panel {
  /* changed shinji 7 july */
  /* text-align: center; */  
  /* width: 200px; */
    /* v0.6 below */
  position: absolute;
  margin-bottom: 20px;
  /* bottom: 20px;  */
  /* z-index: 20; */

  top: 50%;
  left: 3%; 
  transform: translate(-3%, -50%);
  /* shinji v0.6 */
  display: none;
}

h3.txt_paint_tools {
  font-weight: 600;
  font-size: 140%;
  margin-bottom: 10px;
}

/* shinji disabled 7 july */

#compiled {
  /* width: 600px; height: 600px; */
  position: fixed ;

  top: 50%;
  left: 50%; 
  transform: translate(-50%, -50%);

} 

/* landmark canvas */
#land_canv {
    /* v0.7 */
  position: absolute;
  /* top: 50%;
  left: 50%; 
  transform: translate(-50%, -50%); */
  /* v0.7 disabled */
  /* width: 100%; height: 100%; */
  /* width: 600px; height: 600px; */

  z-index: 15;
}


#myP5canvas1 {
  /* position: absolute ; */
/* there is not point to put the w and h  */
  z-index: 0;

  /* border added v0.4 shinji 30jul  */
  border: 2px solid #4343431c;
}

#paintType {
  position: absolute;
  top: 45px;
  left: 0px;
}

/* shinji updated v0.6 */
.inputWrapper {
  position: absolute;
  /* bottom: 0px; */
  /* top: 0px; */
  text-align: center;
  width: auto ;
  max-width: 600px;

  display: none;
  z-index: 20;

  top: 50%;
  left: 50%; 
  transform: translate(-50%, -50%);
}

input[type="file"] {
  /* hidden for now shinji 7 july */
  display: none;
  position: absolute;
  /* z-index: -1; */
  font-size: 14px;
  color: #b8b8b8;

}

label {
  border: 2px solid red;
}

/* changed v0.6 */
#inputButton {
  display: inline-block;
  width: 172px;
  height: 44px;
  line-height: 2.7;
}

#inputButton:hover {
  background-color: #383838;
  color: #e6e6e6;
}

/* v0.6 */
#inputWrapper p {
  font-size: 120%;
}

/* v0.6 */
#webcam_button {
  display: inline-block;
  /* display: none; */
  line-height: 40px;

}

/* the input for reuploading the image v0.6 */
#inputButton2 {
  display: inline-block;
  width: 168px;
  height: 40px;
  line-height: 2.4;
  margin-top: 40px;
  background-color: transparent ;
}

#reset {
  /* changed shinji 11 */
  /* background-color: #cf8088; */
  background-color: hsla(0, 0%, 89%, 0.9);
}

#reset:hover {
  /* background-color: #d8a6a8; */
  background-color: #cf8185;
}


.button {
  border: 2px solid #909090;
  cursor: pointer;
  background-color: #fcfcfc;
  /* color: rgb(40, 40, 40); */
  text-align: center;

  font-family: 'Oxygen', sans-serif;
  font-weight:700;
  color: rgb(46, 46, 46);
}

/* added shinji */

.button_paint_square {
  width: 44px; height: 40px;
  /* line-height: 40px; */
  /* add this to vertically centre the text of a div */
  /* https://www.w3schools.com/css/css_align.asp */
  margin-right: 20px; 
  display: inline-block;
  font-size: 120%;

  /* padding-bottom: 3px; */
}

.button_paint_square p {
  margin: 0;
  text-align: center;
}

.button_paint_square:hover {
  background-color: #b0b0b0;
}

.button_paint_square img {
  width: 100%;
  height: 100%;
}

.button_paint_rect {
  width: 76px; height: 40px;
  margin-right: 20px; 
  display: inline-block;
  font-size: 110%;
}

.button_paint_long {
  width: 172px; height: 44px;
  margin-top: 20px;
  display: block;
  font-size: 110%;
}
/* 0.6 */
.button_paint_long_blob {
  width: 168px; height: 40px;
  margin-top: 0px;
  line-height: 0.3;
  display: block;
  font-size: 110%;
}

/* v0.6 */
.button_paint_long_blob h3.txt_paint_tools {
  margin-bottom: 0px;
}

/* 0.6 */
.button_paint_long_top {
  width: 172px; height: 44px;
  margin-top: 0px;
  line-height: 0.5;
  display: block;
  font-size: 110%;
}

/* new class added shinji */
.active1, .active2, .selected {
  border: 2px solid #fbf906;
  border-style: ridge;
}

/* /////////below the div/buttons for the detection ////////////// */
/* buttons for the detection */
.button_paint_face {
  width: 170px; height: 34px;

  font-size: 110%;

  /* v0.6 shinji */
  border-radius: 8px;
  padding: 0px 10px;

  background-color: #464646;
}

/* v0.6 */
.button_paint_face p {
  line-height: 15px;
  padding: 10px;
  margin: auto;
  color: rgb(250, 250, 250);

}

/* v0.6 */
/* below: the div for the detection buttons */
#face_buttons {
  /* position: absolute;  */
  /* 0.65 */
  position: fixed ;
  width: 680px;
  bottom: 0px; 
  left: 50%; 
  transform: translate(-50%, -0%);

  border-radius: 8px;

  /* v0.6 below */
  border: 1px solid rgba(144, 144, 144, 0.75);

  padding: 10px 10px;
  background-color: rgba(255, 255, 255, 0.6);

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  display: none;
  /* this div has to be above the canvas to be able to disable the draw */
  z-index: 20;
}

/* .button.toggled, .button.toggled:hover {
  colour changed shinji
  background-color: #b3b3b3;

  border: 0.9px solid #fbf906;
} */

/* colour changed shinji 12 */
.button:hover {
  background-color: #afafaf;
}



/* ////// css for the spinner */
/* ////////////////////////////////////////////////////// */

.lds-spinner {
  /* color: official; */
  display: inline-block;
  /* display: none; */
  position: absolute;
  top: 50%;
  left: 50%; 
  transform: translate(-50%, -50%);

  width: 80px;
  height: 80px;
  z-index: 50;
}
.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: #fff;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}
/* ////////////////////////////////////////////////////// */


/*  below custom scroll bar from "info" shinji v0.4 */
    /* width */
    ::-webkit-scrollbar {
      width: 3px;
      }

      /* Track */
      ::-webkit-scrollbar-track {
      background: transparent; 
      }
      
      /* Handle */
      ::-webkit-scrollbar-thumb {
      background: rgb(153, 153, 153);
      }

      /* Handle on hover */
      ::-webkit-scrollbar-thumb:hover {
      background: #555; 
      }

/* ///////////////////////////////////////////////////////////////// */
/* //////////////// below css for archive page only /////////////// */
/* //////////////////////////////////////////////////////////////// */


#homeURL a {
  color: rgb(46, 46, 46);
  text-decoration-line: none;
}




/* v0.75 ali */

/* SNAP BUTTON  */
#snap {
  display: none;
  z-index: 20;
  /* position: absolute; */
  position: fixed ;
  bottom: 10px; 
  left: 50%; 
  transform: translate(-50%, -0%);

  border-radius: 8px;
}

/* #vid-container {
  left: 404px;
  top: 80px;
  overflow: hidden;
  height: 600px;
  width: 600px;
  position: absolute;
} */

#vid-container {
  top: 50%;
  left: 50%; 
  transform: translate(-50%, -50%);
  overflow: hidden;
  /* height: 600px;
  width: 600px; */
  position: absolute;
  display: none;
}
#vid-src {
  /* left: -28% !important; */
  position: relative;
}