*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; 
}

html {
  box-sizing: border-box;
}


html, body {
  margin: 0;
  padding: 0;
  background: #e2e2e2;
  /* overflow: hidden; */
}

/* src https://stackoverflow.com/questions/16805684/javascript-disable-text-select */
.non_select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


p, h1, h2, h3, h4, h5, h6, body {
  font-family: 'Oxygen', sans-serif;
  color: rgb(46, 46, 46);
}

/* //////////// - interface - ////////////// */

/* --- divs left / right --- */
#homeURL{
  font-size: 95%;
  position: fixed;
  top: 20px; left: 20px;
  margin: 0;
  z-index: 100;
  background-color: rgb(226, 226, 226);
}

span.selectURL {
  /* background-color: #4d4d4d;
  color: rgb(226, 226, 226); */
  text-decoration-line: underline;
  text-decoration-color: blue;
  text-decoration-style: solid;
}

span.unselectURL:hover {
  cursor: pointer;
  text-decoration: underline overline;
}


span.textLink {
  color: rgb(19, 19, 187);
  cursor: pointer;
}


/* //////////////// below css for archive page only /////////////// */


#homeURL a {
  color: rgb(46, 46, 46);
  text-decoration-line: none;
}


.archive_right_container_div {
  margin: 90px 20px 0px 0px;  
  right: 0px;
  top: 0px;
  width: 227px;
  /* height: 100%; */
  padding: 10px;
  display: inline-block;
  position: absolute;
}


.hashtags {
  font-size: 75%;
  float: right;
}


/* //////////////////// thumbs //////////////////// */

/* * {
  box-sizing: border-box;
} */


/* below stack example http://jsfiddle.net/6Mt3Q/ 
https://stackoverflow.com/questions/21086385/how-to-make-in-css-an-overlay-over-an-image */
.image_container {
  position: relative;
  /* width: 31%; */
  /* height: auto; */
  /* margin: 5px; */


}


.image_container .after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* display: none; */
  color: rgb(63, 63, 63);
  text-align: center;
  background: rgb(226, 226, 226);
  opacity: 0.99;
  transition: .4s linear;
  border: 1px solid #5a5a5a7a;
  cursor:pointer;
  
}

.image_container:hover .after {
  opacity: 0;
}

.image_container .after p {
  position:absolute; 
  width:100%;     
  top: 50%;  left: 0%;
  -webkit-transform: translate(-0%, -50%);
  -ms-transform: translate(-0%, -50%);
  transform: translate(-0%, -50%);
  font-size: 100%;
  padding:10px; 
  color:#111;
  text-align: center;
  cursor:pointer;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 1024px) {

}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {

}

.container {
    width: 100%;
    padding:  100px 20%;
  }

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  
    /* grid-template-rows: repeat(6, auto); */
    /* https://stackoverflow.com/questions/45412520/how-to-repeat-grid-template-rows-for-all-rows */
    grid-auto-rows: auto;
    grid-gap: 10px; 

  }


.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block; 
    
  }

  .gallery__img2 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block; 

    cursor:pointer;

    /* opacity: 0; */
    border: 1px solid #5a5a5a7a;
  }

  .gallery__img2:hover .overlay {
    /* background-color: yellow; */
    /* transition: 2s; */

    opacity: 0.99;
    transition: .4s linear;
  }

 #bg_img {
    background-image: url("../archive/0/img.jpg");
    display: inline-block;
    width: 200px;
    height: 200px;
    border: 3px solid #c99;
    background-position: center center;
    background-size: cover;
 }

/* /////////iframe////////// */

#close_button {
  right: 0px;
	top: 0px;
	position: fixed;
  margin: 20px;
  z-index: 110;
  display: none;
}

#viewer_frame {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 100;
  border-width: 0px;
  display: none;
}

