/* ///////This is for the screen size 1300+ /////////// */

/* --- this is for the right side div navigation window */
#messageWin {
      /* width: 270px;  */
      width: 15%;
      right: 50px;
  }
.message {
  font-size: 140%;
}


/* #left_container_div__panel {
  left: 5%;
  width: 250px;
  height: 100%;
}
  
.div_panel {
  position: absolute;
  margin-bottom: 20px;
  z-index: 20;

  top: 50%;
  left: 3%; 
  transform: translate(-3%, -50%);
  display: none;
} */